body {
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.header-container h1 {
    margin: 0;
    color: tomato;
}

.search-container {
    flex-grow: 1;
    padding: 0 20px;
}

.search-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.filter-cart-container {
    display: flex;
    align-items: center;
}

.filter-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: 10px;
}

.filter-container label {
    margin-right: 10px;
}

.filter-container select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cart-container {
    display: flex;
    padding: 10px;
}

.cart-container img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.message-container {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: red;
}

.menu-content {
    padding: 20px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;

}
.menu-item-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-item-actions input[type=submit] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
.menu-item-actions input[type=submit]:hover {
    background-color: tomato;
    color: white;
}
.menu-item-actions input[type=submit]:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}
.menu-item-actions input[type=number] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 50px;
    text-align: center;
}

.menu-item .out-of-stock {
    color: gray;
}
.navi{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}
.navi .search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search input[type=submit]{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}
.search input[type=submit]:hover{
    background-color: tomato;
    color: white;
}
.search input[type=text]{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.cart-count{
    align-items: baseline;
}
#cart-count{
    position: relative;
    background-color: tomato;
    color: white;
    padding: 5px;
    border-radius: 50%;
    font-size: 14px;
    right: 10px;
}
.logout a{
    text-decoration: none;
    color: tomato;
    font-size: 16px;
}
.logout a:hover{
    text-decoration: underline;
}
.logout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}
.cart-icon a{
    text-decoration: none;
    color: tomato;
    font-size: 16px;
}
.cart-item{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.cart-item-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-total{
    text-align: right;
}
.menu-item-actions select{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
