body {
    font-family: Arial, sans-serif;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px 20px;
}

.header-container h1 {
    font-size: 30px;
    margin-left: 40px;
    font-weight: bold;
    color: #f26522;
}

.button-container {
    display: flex;
    gap: 10px;
}

.button-container button {
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
    background-color: #f26522;
    color: #f0f0f0;
    border: #f0f0f0 1px solid;
}

.button-container button:hover {
    background-color: #d35400;
}

.about-us {
    display: flex;
    align-items: center;
    padding: 40px 0 50px;
    background-color: #f9f9f9;
    background: linear-gradient(to right, #fff, #ffcda3);
}

.about-image {
    flex: 1;
    margin-right: 0;
}

.about-image img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 0;
}

.about-content {
    flex: 1;
    padding: 30px;
    background: linear-gradient(top, #fff, #ffd8ae);
    margin-bottom: 100px;
    border-radius: 10px;
}

.about-content h1 {
    font-size: 50px;
    color: #f26522;
    margin: 0;
}

.about-content h1 span {
    color: #333;
}

.about-content p {
    font-size: 18px;
    color: #545454;
    line-height: 1.6;
    margin: 20px 0;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /* Adjusted width for smaller forms */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.modal-content h2 {
    margin-top: 0;
    color: tomato;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label {
    margin-top: 10px;
    font-weight: bold;
}

.modal-content input,
.modal-content select {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    display: block; /* Ensure all input elements are displayed as block */
}

.password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember-me-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.remember-me-container label {
    margin-left: 5px;
    font-size: small;
    font-weight: bold;
    margin-bottom: 12px;
}

.modal-content button, .modal-content input[type="submit"]  {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: tomato;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

.modal-content .sign-up-button {
    background-color: #f0f0f0;
    color: black;
    font-size: small;
    margin-top: 10px;
}

.modal-content .sign-up-button:hover {
    background-color: #ddd;
}

#forgot-password {
    color: tomato;
    text-decoration: underline;
    font-size: small;
}

#forgot-password:hover {
    color: rgb(236, 59, 27);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#optionalFields label,
#optionalFields input,
#optionalFields select {
    display: block; /* Ensure all elements in the optionalFields section are displayed as block */
    margin-bottom: 10px;
}
.forgot form{
    text-align: left;
}
.forgot form label{
    margin-top: 10px;
    font-weight: bold;
}
.forgot form input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    display: block; /* Ensure all input elements are displayed as block */
}
.forgot form button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: tomato;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

/*Footer Styling */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: tomato;
    border-top: 1px solid #ddd;
}
footer h1{
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    color: white;
}
footer p{
    font-size: 1em;
    font-family: Arial, sans-serif;
    color: white;
}
footer h2{
    font-size: 1em;
    font-family: Arial, sans-serif;
    color: white;
}
footer a{
    background-color: #f0f0f0;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;

}

